* {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    background-color: #ad7756;
}
main {
    border: 1px;
}
footer {
    border: 1px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {    
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    color: #fefbf0;
    transition: color 0.8s;
}

.nav-link:hover {
    color: #96b389;
}